$aboutColor: rgb(13, 211, 168);
@-webkit-keyframes bop {
  0% {
    transform: rotateZ(-5deg);
  }
  100% {
    transform: rotateZ(10deg);
  }
}
@keyframes bop {
  0% {
    transform: rotateZ(-5deg);
  }
  100% {
    transform: rotateZ(10deg);
  }
}
@-webkit-keyframes type {
  0% {
    transform: rotateZ(-5deg);
  }
  100% {
    transform: rotateZ(5deg);
  }
}
@keyframes type {
  0% {
    transform: rotateZ(-5deg);
  }
  100% {
    transform: rotateZ(5deg);
  }
}
#about-main {
  min-height: 100vh;
  position: relative;
  top: 0px;
  // padding-top: 80px;

  display: grid;
  grid-template-columns: 2fr 3fr;
  place-content: center;
  overflow: hidden;

  @media screen and (max-width: 1120px) {
    grid-template-columns: 1fr;
    grid-template-areas:
      "top"
      "bottom";
    padding: 50px 0px 100px 0px;
  }

  &.animate {
    #about-image {
      transform: translateX(0%);
      opacity: 1;
    }
    #about-content {
      transform: translateX(0%);
      opacity: 1;

      h1 {
        transform: translateX(0);
        transition-delay: 0.2s;
      }
      p {
        transform: translateX(0);
        transition-delay: 0.3s;
      }
      div {
        transform: translateX(0);
        transition-delay: 0.4s;
      }
    }
  }

  #about-image {
    @include flex(column, flex-start, center);
    padding: 20px 30px;
    height: calc(100% - 60px);
    width: calc(100% - 100px);
    opacity: 0;
    transform: translateX(-100%);
    transition: transform 0.5s, opacity 0.8s;
    transition-delay: 0.2s;
    @media screen and (max-width: 1120px) {
      width: calc(100% - 60px);
    }
    #svg {
      position: relative;
      width: 100%;
      min-height: 500px;
      @media screen and (max-width: 1120px) {
        display: none;
      }
      svg {
        position: absolute;
        top: 50%;
        left: 55%;
        transform: translate(-50%, -50%);

        #head {
          -webkit-animation: bop 1.5s infinite linear alternate;
          animation: bop 1.5s infinite linear alternate;
          transform-box: fill-box;
          transform-origin: bottom;
        }
        #right-arm {
          -webkit-animation: type 1s infinite linear alternate;
          animation: type 1s infinite linear alternate;
          transform-box: fill-box;
          transform-origin: top;
        }
        #left-arm {
          animation: type 1s infinite ease-in alternate-reverse;
          transform-box: fill-box;
          transform-origin: top;
        }
      }
    }

    #button-resume {
      position: relative;
      width: 70%;
      @include flex(row, flex-start, center);

      @media screen and (max-width: 650px) {
        width: 90%;
      }

      button {
        width: 100%;
        background-color: $aboutColor;
        border-radius: 5px;
        height: 40px;
        line-height: 40px;
        border: none;
        @include flex(column, center, center);
        font-size: 1.2em;
        text-decoration: none;
        color: white;
        transition: all 0.3s;
        cursor: pointer;

        &:hover {
          box-shadow: 0px 0px 15px $aboutColor;
          background-color: white;
          color: $aboutColor;
        }
      }
      #resume-list {
        visibility: hidden;
        opacity: 0;
        position: absolute;
        height: 150px;
        top: -50px;
        right: -60px;
        border-radius: 5px;
        @include flex(column, space-between, center);
        @media screen and (max-width: 1120px) {
          flex-direction: row;
          height: auto;
          top: calc(10% + 50px);
          width: calc(100% + 120px);
        }
        @media screen and (max-width: 650px) {
          right: 0;
          width: 100%;
        }
        // gap:40px;
        transition: opacity 0.4s;

        a {
          padding: 10px;
          aspect-ratio: 1/1;
          @include flex(row, center, center);
          text-decoration: none;
          background-color: rgb(15, 15, 15);
          border-radius: 500px;
          transition: background-color 0.3s, color 0.3s;

          &:hover {
            @media all and (hover: hover) {
              background-color: rgb(59, 59, 59);
            }
          }
          @media screen and (max-width: 650px) {
            padding: 10px 40px;
          }
        }
      }
    }
  }

  #about-content {
    width: calc(100% - 100px);
    height: calc(100% - 100px);
    padding: 50px;
    opacity: 0;
    transform: translateX(100%);
    transition: transform 0.5s, opacity 0.8s;

    @media screen and (max-width: 1120px) {
      grid-area: top;
    }
    @media screen and (max-width: 700px) {
      padding: 50px 30px;
      width: calc(100% - 60px);
    }
    h1 {
      transform: translateX(130%);
      transition: transform 0.8s;
      font-size: 3em;
      font-family: LexendDeca-Bold;

      @media screen and (max-width: 600px) {
        font-size: 2em;
      }
      @media screen and (max-width: 400px) {
        font-size: 1.7em;
      }

      span {
        color: $aboutColor;
      }
    }

    p {
      font-size: 1.1em;
      transform: translateX(130%);
      transition: transform 0.8s;

      @media screen and (max-width: 800px) {
        font-size: 0.9em;
      }
      @media screen and (max-width: 600px) {
        font-size: 0.8em;
      }
    }

    div {
      margin-top: 70px;
      @media screen and (max-width: 1500px) {
        margin-top: 40px;
      }
      width: calc(100% - 60px);
      transform: translateX(130%);
      transition: transform 0.8s;
      border-radius: 15px;
      background-color: rgba(255, 255, 255, 0.1);
      @include flex(column, center, center);
      gap: 25px;
      padding: 30px;

      span {
        width: 100%;
        @include flex(row, space-between, center);
        font-size: 1.3em;

        @media screen and (max-width: 600px) {
          flex-direction: column;
          align-items: flex-start;
          font-size: 1em;
          gap: 5px;
        }

        progress {
          background-color: rgb(75, 72, 72);
          border-radius: 500px;
          width: 70%;
          border: none;
          height: 10px;

          @media screen and (max-width: 600px) {
            width: 100%;
          }
          // @media screen and (max-width: 650px) {
          //     width: 50%;
          // }
        }
        ::-webkit-progress-bar {
          -webkit-appearance: none;
          appearance: none;
          background-color: grey;
          border-radius: 500px;
        }

        progress[value]::-webkit-progress-value {
          -webkit-appearance: none;
          appearance: none;
          background: $aboutColor;
          border-radius: 500px;
          width: 100%;
        }
        progress::-moz-progress-bar {
          background: $aboutColor;
          border-radius: 500px;
          // width:100%;
        }
      }
    }
  }
}
