main#contact-main {
  padding: 0;

  position: relative;
  top: 0px;
  margin: 0;
  overflow: hidden;
  @include flex(column, flex-end, stretch);

  footer {
    min-height: 60vh;
    padding: 50px;
    gap: 50px;
    @media screen and (max-width: 700px) {
      padding: 20px;
      gap: 10px;
    }
    background-color: rgb(14, 13, 13);
    position: relative;
    margin-top: 70px;
    z-index: 5;
    display: grid;

    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    @media screen and (max-width: 1120px) {
      align-items: center;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;
    }
  }
  form {
    // background-color: red;
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    grid-template-rows: 1.8fr 1.8fr 1.8fr 6fr 1.8fr;
    grid-template-areas:
      "h1 h1"
      "name surname"
      "mail subject"
      "message message"
      "button button";

    @media screen and (max-width: 700px) {
      grid-template-columns: minmax(0, 1fr);
      grid-template-rows: 2fr 2fr 2fr 2fr 2fr 6fr 2fr;
      grid-template-areas:
        "h1"
        "name"
        "surname"
        "mail"
        "subject"
        "message"
        "button";
    }
    gap: 15px;
    padding: 10px;
    border-radius: 15px;
    min-height: 380px;

    h1 {
      grid-area: h1;
      margin: 0;
      font-size: 1.6em;
      @include flex(row, flex-start, center);

      @media screen and (max-width: 700px) {
        justify-content: center;
        font-size: 1.4em;
      }

      span {
        color: #0dd3a8;
      }
    }

    input {
      border-radius: 5px;
      border: none;
      outline: none;
      padding: 5px 10px;
      caret-color: #0dd3a8;
      color: #0dd3a8;
      background-color: rgba(255, 255, 255, 0.1);
      font-weight: 500;
      font-size: 1.1em;
      min-height: 40px;

      &::-webkit-input-placeholder {
        /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: rgb(201, 201, 201);
        font-weight: 300;
        opacity: 1; /* Firefox */
      }

      &::-moz-placeholder {
        /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: rgb(201, 201, 201);
        font-weight: 300;
        opacity: 1; /* Firefox */
      }

      &:-ms-input-placeholder {
        /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: rgb(201, 201, 201);
        font-weight: 300;
        opacity: 1; /* Firefox */
      }

      &::-ms-input-placeholder {
        /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: rgb(201, 201, 201);
        font-weight: 300;
        opacity: 1; /* Firefox */
      }

      &::placeholder {
        /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: rgb(201, 201, 201);
        font-weight: 300;
        opacity: 1; /* Firefox */
      }

      &:-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: rgb(201, 201, 201);
        font-weight: 300;
      }

      &::-ms-input-placeholder {
        /* Microsoft Edge */
        color: rgb(201, 201, 201);
        font-weight: 300;
      }
    }

    textarea {
      @extend input;
      font-size: 1.4em;
      grid-area: message;
      resize: none;
      color: white;
    }

    button {
      grid-area: button;
      border-radius: 5px;
      border: none;
      background-color: rgb(13, 211, 168);
      font-size: 1.2em;
      color: white;
      transition: all 0.3s;
      cursor: pointer;
      display: grid;
      place-content: center;
      min-height: 30px;

      &:hover {
        background-color: white;
        color: rgb(13, 211, 168);
      }

      &:disabled {
        background-color: rgba(13, 211, 168, 0.4);
        color: rgb(158, 154, 154);
        cursor: default;

        &:hover {
          color: rgb(158, 154, 154);
        }
      }
    }
  }

  section {
    @include flex(column, space-between, stretch);
    padding: 10px;

    h1 {
      font-size: 1.6em;
      flex: 1;
      @include flex(row, flex-start, center);
      @media screen and (max-width: 700px) {
        justify-content: center;
        font-size: 1.4em;
      }
    }

    ul {
      flex: 2;
      @include flex(row, space-between, center);
      gap: 10px;
      list-style: none;
      padding: 0;

      @media screen and (max-width: 700px) {
        flex: 1;
        @include flex(column, center, stretch);
      }

      div {
        position: relative;
        li {
          &:last-child {
            color: rgb(150, 147, 147);
            font-size: 0.9em;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            max-width: 200px;
          }
        }
      }
    }

    .map {
      flex: 6;
      border-radius: 10px;
      position: relative;
      overflow: hidden;

      iframe {
        width: 100%;
        height: 100%;
        -webkit-filter: invert(90%);
        filter: invert(90%);
      }
    }
  }
}
