#projects-main{
    display:flex;
    flex-direction: row;
    width:100vw;
    height:calc(100vh - 120px);
    padding: 20px 0px;
    padding-top: 100px;
    opacity:0;
    transition: opacity 0.8s;

    @media screen and (max-width:700px) {
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
    }

    &.animate{
        opacity:1;
    }
   
    #dots{
        width:100vw;
        position: absolute;
        bottom:0px;
        height:60px;
        @include flex(row,center,center);
        gap:15px;
        @media screen and (max-width:700px) {
            display:none;
        }

        div{
            width:10px;
            aspect-ratio: 1/1;
            border: solid rgb(80, 80, 80) 2px;
            border-radius: 50%;
            transition: all 0.3s;
            transition-delay: 0.4s;

            &:first-child{
                background-color: var(--dot-0);
            }
            &:nth-child(2){
                background-color: var(--dot-1);
            }
            &:nth-child(3){
                background-color: var(--dot-2);
            }
            &:last-child{
                background-color: var(--dot-3);
            }
        }
    }

    #gallery{
        min-height:630px;
        @include flex(row,center,center);
        gap:0px;

        @media screen and (max-width:1100px) {
            min-height: 1050px;
        }
        @media screen and (max-width:700px) {
            transform: translateX(0%);
        }

        .project-container{
            width:100vw;
            height:100%;
            position: relative;
            @include flex(row,center,center);
            @media screen and (max-width:700px) {
                scroll-snap-align: center;
            }
            &:last-child{
                @media screen and (max-width:700px) {
                    display: none;
                }
            }
            #slide-left{
                position: absolute;
                top:0%;
                right:45px;
                background-color: transparent;
                height:100%;
                width:40px;
                font-size: 2em;
                color:rgba(187, 187, 187,0.3);
                border: none;
                z-index: 5;
                cursor: pointer;
                &:hover{
                    color:rgb(121, 119, 119);
                }

                @media screen and (max-width:1100px) {
                    right:20px;
                    font-size: 1.7rem;
                }

                @media screen and (max-width:700px) {
                    display:none;
                }
            }
            #slide-right{
                position: absolute;
                top:0%;
                left:45px;
                background-color: transparent;
                height:100%;
                width:40px;
                font-size: 2em;
                color:rgba(187, 187, 187,0.3);
                border: none;
                z-index: 5;
                cursor: pointer;

                &:hover{
                    color:rgb(121, 119, 119);
                }

                @media screen and (max-width:1100px) {
                    left:20px;
                    font-size: 1.7rem;
                }
                @media screen and (max-width:700px) {
                    display:none;
                }
            }
            

            .project-content{
                width:calc(95% - 100px);
                height:calc(100% - 80px);
                background: linear-gradient(transparent,rgba(112, 110, 110, 0.3));
                border-radius: 20px;
                padding: 20px 50px;
                padding-bottom: 60px;
                display:grid;
                grid-template-columns: 3fr 2fr;
                grid-template-rows: 2fr 5fr 2fr;

                grid-template-areas: 

                'photos desc'
                'photos tech'
                'photos buttons'
                ;

                @media screen and (max-width:1100px) {
                   grid-template-columns: 1fr;
                   grid-template-rows: 1fr 1fr 1fr 1fr;
                   grid-template-areas: 
                   'photos'
                   'desc'
                   'tech'
                   'buttons'
                   ;
                }
                @media screen and (max-width:700px) {
                    padding: 20px 20px;
                    width:calc(92% - 40px);
                }
                .photos{
                    grid-area: photos;
                    display:grid;
                    grid-template-columns: 3fr 2fr;
                    grid-template-rows: 1fr 5fr;
                    grid-template-areas: 
                    'title title'
                    'pc mobile'
                    ;
                    max-height: 580px;

                    @media screen and (max-width:1100px) {
                        max-height: 430px;
                    }
                    @media screen and (max-width:500px) {
                        max-height: 330px;
                    }
                    


                    h2{
                        grid-area: title;
                        font-size: 3em;
                        font-family: LexendDeca-Bold;
                        @include flex(column,center,flex-start);
                        padding-left: 40px;
                        cursor: default;

                        @media screen and (max-width:600px) {
                            padding-left: 10px;
                        }
                        @media screen and (max-width:500px) {
                            font-size: 2rem;
                        }

                        span{
                            font-size: 1.4rem;
                            color:rgb(160, 155, 155);
                            font-family: LexendDeca;
                        }
                    }
                }
                .technologies{
                    grid-area: tech;
                    min-height: 260px;

                    ul{
                        list-style: none;
                        margin: 0;
                        padding: 0;
                        height:100%;
                        width:100%;
                        @include flex(column,space-evenly,flex-start);
                        cursor: default;

                        li{
                            font-size: 1.2em;
                            filter:grayscale(20%);
                            padding: 10px 15px;
                            width:calc(100% - 30px);
                            border-radius: 6px;
                            &:first-child{
                                background:linear-gradient(to right,#FF7B19,transparent);
                            }
                            &:nth-child(2){
                                background:linear-gradient(to right,#F06494,transparent);
                            }
                            &:nth-child(3){
                                background:linear-gradient(to right,#FFDA19,transparent);
                            }
                            &:nth-child(4){
                                background:linear-gradient(to right,#8BE0EB,transparent);
                            }
                            &:last-child{
                                background:linear-gradient(to right,#576A73,transparent);
                            }
                        }
                    }
                }
                .description{
                    grid-area: desc;
                    margin-top: 40px;
                    p{
                        font-size: 1.1em;
                        color:rgb(212, 208, 208);
                        cursor: default;

                        @media screen and (max-width:1400px) {
                            font-size: 1rem;
                        }
                        @media screen and (max-width:800px) {
                            font-size: 0.8rem;
                        }
                    }
                }
                .buttons{
                    grid-area: buttons;
                    @include flex(row,center,center);
                    gap:30px;

                    @media screen and (max-width:500px) {
                        gap:10px;
                    }

                   

                    a{
                        text-decoration: none;
                        flex:1;
                        position: relative;
                        height:50px;
                        border-radius: 15px;
                        cursor: pointer;
                        background-color: transparent;
                        @include flex(row,center,center);
                        gap:10px;
                        font-size: 1.2em;
                        border: solid $aboutColor 4px;
                        color:$aboutColor;
                        transition: all 0.3s;

                        @media screen and (max-width:1400px) {
                            font-size: 1rem;
                        }
                        @media screen and (max-width:500px) {
                            font-size: 0.8rem;
                        }

                        &:hover{
                            background-color: $aboutColor;
                            color:white;
                        }
                    }
                }
            }
        }
    }
    #project-pc{
        position: relative;

        @media screen and (max-width:1400px) {
            transform: scale(0.8);
        }
        @media screen and (max-width:1200px) {
            transform: scale(0.7);
        }
        @media screen and (max-width:800px) {
            transform: scale(0.6);
        }
        @media screen and (max-width:600px) {
            transform: scale(0.5);
        }
        @media screen and (max-width:500px) {
            transform: scale(0.4);
        }
        @media screen and (max-width:400px) {
            transform: scale(0.35);
        }
        img{
            position: absolute;
            top:50%;
            left:55%;
            transform: translate(-50%,-50%);

            @media screen and (max-width:800px) {
                left:50%;
            }
            @media screen and (max-width:400px) {
                left:40%;
            }
            &:first-child{
                z-index: 2;
                filter: brightness(50%);
            }
            &:last-child{
                border-radius: 15px;
                margin-top: -35px;
                box-shadow: 0px 0px 40px white;
            }
        }
    }

    #project_mobile{
        @extend #project-pc;
        img{
            left:40%;

            @media screen and (max-width:800px) {
                left:60%;
            }
        }
        img:last-child{
            margin-top: -5px;
        }
        
    }
}