#skills-main {
  padding-top: 150px;

  padding-bottom: 250px;

  overflow: hidden;
  cursor: default;
  position: relative;
  left: 0;
  top: 0px;
  @include flex(column, center, stretch);
  gap: 20px;

  .skills-background {
    height: 140%;
    width: 100%;
    position: absolute;
    -o-object-fit: cover;
    object-fit: cover;
    left: 0;
    top: 0;
  }

  &::before {
    content: "";
    background-color: rgb(0, 0, 0);
    width: 110%;
    height: 200px;
    position: absolute;
    left: 0;
    top: -11%;
    transform: rotate(3deg);
    z-index: 4;
  }

  &::after {
    content: "";
    background-color: rgb(0, 0, 0);
    width: 110%;
    height: 200px;
    position: absolute;
    left: 0;
    bottom: -5%;
    transform: rotate(-3deg);
  }

  h1 {
    // padding: 0px 50px;
    font-family: LexendDeca-Bold;
    font-size: 3em;
    z-index: 2;
    @include flex(row, center, center);

    // gap: 40px;

    .h-line {
      margin: 0px 40px;
      height: 3px;
      background-color: rgb(13, 211, 168);
      border-radius: 500px;
      flex: 1;
      @media screen and (max-width: 600px) {
        display: none;
      }

      &:first-child {
        transform-origin: left;
        transform: scaleX(0);
      }
      &:last-child {
        transform-origin: right;
        transform: scaleX(0);
      }
    }

    @media screen and (max-width: 665px) {
      font-size: 2em;
    }
    @media screen and (max-width: 400px) {
      font-size: 1.7em;
    }

    span {
      color: rgb(13, 211, 168);
      margin: 0px 15px;
    }
  }

  section#skills-container {
    @include flex(row, center, center);
    gap: 20px;
    flex-wrap: wrap;

    transition: transform 0.5s, opacity 0.8s;
    z-index: 0;

    &:not(:hover) *.skill-card::after,
    .skill-card::before {
      opacity: 0;
    }

    .skill-card {
      position: relative;
      flex-shrink: 0;
      width: 200px;
      aspect-ratio: 1/1;
      background-color: rgba(255, 255, 255, 0);

      @media all and (hover: none) {
        background-color: rgba(39, 39, 39, 0.15);
      }
      border-radius: 20px;
      padding: 5px;

      &:hover {
        transform: scale(1.05);

        .skill-card-content img {
          -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
        }
      }

      @media screen and (max-width: 700px) {
        width: 180px;
        padding: 2px;
      }
      @media screen and (max-width: 450px) {
        width: 130px;
      }

      .skill-card-content {
        border-radius: 15px;
        width: 100%;
        height: 100%;
        inset: 5px;
        background-color: rgb(0, 0, 0);
        z-index: 2;
        @include flex(column, center, center);
        gap: 20px;
        font-size: 1.2em;
        @media screen and (max-width: 450px) {
          font-size: 0.9em;
        }

        img {
          transform-style: preserve-3d;
          transition: -webkit-filter 0.8s;
          transition: filter 0.8s;
          transition: filter 0.8s, -webkit-filter 0.8s;
          -webkit-filter: grayscale(30%);
          filter: grayscale(30%);

          @media all and (hover: none) {
            -webkit-filter: grayscale(0%);
            filter: grayscale(0%);
          }
        }
      }

      &::before {
        background: radial-gradient(
          500px circle at var(--mouse-x) var(--mouse-y),
          rgba(255, 255, 255, 0.1),
          transparent 40%
        );
        border-radius: 15px;
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        z-index: 3;
        opacity: 0;
        transition: opacity 500ms;
      }
      &::after {
        background: radial-gradient(
          500px circle at var(--mouse-x) var(--mouse-y),
          rgba(255, 255, 255, 0.4),
          transparent 40%
        );
        border-radius: 15px;
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        z-index: -1;
        transition: opacity 500ms;
      }
      &:hover::before {
        opacity: 1;
      }
      &:hover::after {
        opacity: 1;
      }
    }
  }
}
