nav#nav-home {
  min-width: calc(100vw - 120px);
  position: fixed;
  top: 0;
  left: 0;
  padding: 10px 60px;
  height: 60px;
  z-index: 5;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 700px) {
  nav#nav-home {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 6px 30px;
    min-width: calc(100vw - 60px);
  }
}
nav#nav-home div {
  font-size: 2em;
  color: rgb(13, 211, 168);
  font-family: LexendDeca-bold;
  cursor: default;
}
nav#nav-home ul {
  padding-left: 0px;
  list-style: none;
  width: 35%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
@media screen and (max-width: 1400px) {
  nav#nav-home ul {
    width: 50%;
  }
}
@media screen and (max-width: 1200px) {
  nav#nav-home ul {
    width: 70%;
  }
}
@media screen and (max-width: 700px) {
  nav#nav-home ul {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    top: 60px;
    right: 0;
    width: 100%;
    transition: all 0.3s;
    transform: translateX(100%);
  }
  nav#nav-home ul a {
    width: 100%;
  }
  nav#nav-home ul a li {
    width: 100%;
  }
  nav#nav-home ul.view {
    transform: translateX(0%);
  }
}
nav#nav-home ul a {
  color: white;
  text-decoration: none;
}
nav#nav-home ul a li {
  font-size: 1.4em;
  cursor: pointer;
  transition: all 0.2s;
  height: 120px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
nav#nav-home ul a li.active {
  color: rgb(13, 211, 168);
}
nav#nav-home ul a li.active::after {
  opacity: 1;
}
nav#nav-home ul a li:hover {
  color: rgb(13, 211, 168);
  text-shadow: 0 0 7px rgb(13, 211, 168), 0 0 10px rgb(13, 211, 168), 0 0 21px rgb(13, 211, 168);
  transform: translateY(20px);
}
nav#nav-home ul a li::after {
  content: "";
  position: absolute;
  bottom: 40px;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 500px;
  opacity: 0;
  background-color: rgb(13, 211, 168);
}
@media screen and (max-width: 700px) {
  nav#nav-home ul a li {
    color: rgb(214, 208, 208);
    width: calc(100% - 60px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding: 12px 0px;
    padding-right: 60px;
    background-color: rgba(0, 0, 0, 0.8);
    height: auto;
  }
  nav#nav-home ul a li:hover {
    background-color: rgb(5, 61, 49);
    animation: none;
    text-shadow: none;
    color: white;
    transition: none;
    transform: none;
  }
  nav#nav-home ul a li.active {
    background-color: rgba(5, 61, 49, 0.7);
  }
  nav#nav-home ul a li.active::after {
    visibility: hidden;
  }
}
nav#nav-home .hamburger-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  position: relative;
  cursor: pointer;
}
@media screen and (min-width: 700px) {
  nav#nav-home .hamburger-menu {
    display: none;
  }
}
nav#nav-home .hamburger-menu:hover .hamburger-icon {
  background-color: white;
}
nav#nav-home .hamburger-menu:hover .hamburger-icon::after {
  background-color: white;
}
nav#nav-home .hamburger-menu:hover .hamburger-icon::before {
  background-color: white;
}
nav#nav-home .hamburger-menu .hamburger-icon {
  position: relative;
  width: 40px;
  height: 2px;
  background-color: rgb(168, 168, 168);
  transition: all 0.2s;
}
nav#nav-home .hamburger-menu .hamburger-icon::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: rgb(168, 168, 168);
  top: -10px;
  left: 0px;
  transition: all 0.2s;
}
nav#nav-home .hamburger-menu .hamburger-icon::after {
  content: "";
  position: absolute;
  width: 80%;
  height: 2px;
  background-color: rgb(168, 168, 168);
  top: 10px;
  left: 0px;
  transition: all 0.2s;
}

@keyframes sway {
  from {
    transform: rotateZ(-20deg) scale(1);
  }
  to {
    transform: rotateZ(20deg) scale(1.1);
  }
}
#main-home {
  min-height: 100vh;
  position: relative;
  top: 0px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: transparent;
  overflow-x: hidden;
}
@media screen and (max-width: 1120px) {
  #main-home {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
}
#main-home.animate #text-home {
  opacity: 1;
  transform: translateX(0%);
}
#main-home.animate #text-home #text-box h1 {
  transform: translateX(0);
  opacity: 1;
}
#main-home.animate #text-home #text-box h2 {
  transform: translateX(0);
  opacity: 1;
  transition-delay: 0.2s;
}
#main-home.animate #text-home #text-box p {
  transform: translateX(0);
  opacity: 1;
  transition-delay: 0.4;
}
#main-home.animate #images-home {
  opacity: 1;
  transform: translateX(0%) scale(1);
}
#main-home article {
  width: 100%;
  height: 90%;
  position: relative;
  margin-top: 50px;
}
#main-home #text-home {
  transform: translateX(-100%);
  transition: transform 0.5s, opacity 0.8s;
  font-family: LexendDeca-Bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  max-width: 100vw;
}
@media screen and (max-width: 1120px) {
  #main-home #text-home {
    margin-top: 100px;
  }
}
#main-home #text-home #text-box {
  width: 80%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  cursor: default;
}
@media screen and (max-width: 1320px) {
  #main-home #text-home #text-box {
    align-self: center;
  }
}
#main-home #text-home #text-box h1 {
  transform: translateX(-100%);
  opacity: 0;
  transition: all 0.8s;
  font-size: 3em;
  font-family: LexendDeca-Bold;
}
@media screen and (max-width: 410px) {
  #main-home #text-home #text-box h1 {
    font-size: 2.2em;
  }
}
#main-home #text-home #text-box h2 {
  font-size: 2em;
  transform: translateX(-100%);
  opacity: 0;
  transition: all 0.8s;
}
#main-home #text-home #text-box h2 span {
  color: rgb(13, 211, 168);
}
@media screen and (max-width: 1520px) {
  #main-home #text-home #text-box h2 {
    font-size: 1.6em;
  }
}
@media screen and (max-width: 1230px) {
  #main-home #text-home #text-box h2 {
    font-size: 1.4em;
  }
}
@media screen and (max-width: 600px) {
  #main-home #text-home #text-box h2 {
    font-size: 1.2em;
  }
}
@media screen and (max-width: 450px) {
  #main-home #text-home #text-box h2 {
    font-size: 0.9em;
  }
}
#main-home #text-home #text-box p {
  transform: translateX(-100%);
  opacity: 0;
  transition: all 0.8s;
}
#main-home #text-home #text-box p a {
  text-decoration: none;
  color: rgba(13, 211, 168, 0.6);
}
#main-home #text-home #text-box p a:hover {
  color: rgb(13, 211, 168);
}
#main-home #text-home #text-box #social-links {
  margin-top: 50px;
  width: 100%;
}
@media screen and (max-width: 400px) {
  #main-home #text-home #text-box #social-links {
    transform: scale(0.9) translateX(-20px);
  }
}
#main-home #text-home #text-box #social-links ul {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#main-home #text-home #text-box #social-links ul li {
  font-size: 1.6em;
  width: 60px;
  border: solid grey 2px;
  aspect-ratio: 1/1;
  display: grid;
  place-content: center;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  transition: border-color 0.5s, box-shadow 0.5s;
}
@media screen and (max-width: 650px) {
  #main-home #text-home #text-box #social-links ul li {
    transform: scale(0.8);
  }
}
#main-home #text-home #text-box #social-links ul li a {
  text-decoration: none;
  display: grid;
  place-content: center;
  width: 60px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  color: white;
  transition: color 0.5s;
}
#main-home #text-home #text-box #social-links ul li:hover {
  border-color: rgb(13, 211, 168);
  box-shadow: 0px 0px 10px rgb(13, 211, 168);
}
#main-home #text-home #text-box #social-links ul li:hover a {
  color: rgb(13, 211, 168);
}
#main-home #images-home {
  overflow: hidden;
  transform: translateX(100%) scale(0);
  transition: transform 0.8s, opacity 0.8s;
}
#main-home #images-home canvas {
  cursor: grab;
}
@media screen and (max-width: 1120px) {
  #main-home #images-home canvas {
    margin-top: -50px;
  }
}
#main-home #images-home h2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  position: absolute;
  bottom: 2%;
  left: 50%;
  transform: translateX(-50%);
  color: rgb(139, 139, 139);
  cursor: default;
}
#main-home #images-home h2 i {
  animation: sway 1.2s infinite ease-in alternate;
}
@media screen and (max-width: 1120px) {
  #main-home #images-home h2 {
    bottom: 15%;
  }
}
@media screen and (max-width: 520px) {
  #main-home #images-home h2 {
    bottom: 20%;
    font-size: 0.9em;
  }
}

#skills-main {
  cursor: default;
  position: relative;
  padding-top: 100px;
  padding-bottom: 20px;
  left: 0;
  top: 0px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}
#skills-main h1 {
  font-family: LexendDeca-Bold;
  font-size: 3em;
  z-index: 2;
}
@media screen and (max-width: 600px) {
  #skills-main h1 {
    font-size: 2em;
  }
}
@media screen and (max-width: 400px) {
  #skills-main h1 {
    font-size: 1.7em;
  }
}
#skills-main h1 span {
  color: rgb(13, 211, 168);
}
#skills-main section#skills-container {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  transform: translateY(-50%);
  opacity: 0;
  transition: transform 0.5s, opacity 0.8s;
  z-index: 0;
}
@media screen and (max-width: 1135px) {
  #skills-main section#skills-container {
    transform: translateX(-50%);
  }
}
#skills-main section#skills-container.animate {
  transform: translateY(0%);
  opacity: 1;
}
@media screen and (max-width: 1135px) {
  #skills-main section#skills-container.animate {
    transform: translateX(0%);
  }
}
#skills-main section#skills-container.animate .skill-card .skill-card-content img {
  transform: translateY(0);
}
@media screen and (max-width: 1135px) {
  #skills-main section#skills-container.animate .skill-card .skill-card-content img {
    transform: translateX(0);
  }
}
#skills-main section#skills-container:not(:hover) *.skill-card::after,
#skills-main section#skills-container .skill-card::before {
  opacity: 0;
}
#skills-main section#skills-container .skill-card {
  position: relative;
  flex-shrink: 0;
  width: 230px;
  aspect-ratio: 1/1;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 20px;
  padding: 5px;
  transition: transform 0.5s;
}
@media all and (hover: none) {
  #skills-main section#skills-container .skill-card {
    background-color: rgba(39, 39, 39, 0.15);
  }
}
@media all and (hover: hover) {
  #skills-main section#skills-container .skill-card:hover {
    transform: scale(1.05);
  }
  #skills-main section#skills-container .skill-card:hover .skill-card-content img {
    filter: grayscale(0%);
  }
}
@media screen and (max-width: 700px) {
  #skills-main section#skills-container .skill-card {
    width: 180px;
    padding: 2px;
  }
}
@media screen and (max-width: 450px) {
  #skills-main section#skills-container .skill-card {
    width: 130px;
  }
}
#skills-main section#skills-container .skill-card .skill-card-content {
  border-radius: 15px;
  width: 100%;
  height: 100%;
  inset: 5px;
  background-color: rgb(0, 0, 0);
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-size: 1.2em;
}
@media screen and (max-width: 450px) {
  #skills-main section#skills-container .skill-card .skill-card-content {
    font-size: 0.9em;
  }
}
#skills-main section#skills-container .skill-card .skill-card-content img {
  transition: all 0.8s;
  transform: translateY(-100%);
  filter: grayscale(30%);
}
@media all and (hover: none) {
  #skills-main section#skills-container .skill-card .skill-card-content img {
    filter: grayscale(0%);
  }
}
@media screen and (max-width: 1135px) {
  #skills-main section#skills-container .skill-card .skill-card-content img {
    transform: translateY(0) translateX(-100%);
  }
}
#skills-main section#skills-container .skill-card::before {
  background: radial-gradient(500px circle at var(--mouse-x) var(--mouse-y), rgba(255, 255, 255, 0.1), transparent 40%);
  border-radius: 15px;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 3;
  opacity: 0;
  transition: opacity 500ms;
}
#skills-main section#skills-container .skill-card::after {
  background: radial-gradient(500px circle at var(--mouse-x) var(--mouse-y), rgba(255, 255, 255, 0.4), transparent 40%);
  border-radius: 15px;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  transition: opacity 500ms;
}
#skills-main section#skills-container .skill-card:hover::before {
  opacity: 1;
}
#skills-main section#skills-container .skill-card:hover::after {
  opacity: 1;
}
@keyframes bop {
  0% {
    transform: rotateZ(-5deg);
  }
  100% {
    transform: rotateZ(10deg);
  }
}
@keyframes type {
  0% {
    transform: rotateZ(-5deg);
  }
  100% {
    transform: rotateZ(5deg);
  }
}
#about-main {
  min-height: 100vh;
  position: relative;
  top: 0px;
  display: grid;
  grid-template-columns: 2fr 3fr;
  place-content: center;
  overflow: hidden;
}
@media screen and (max-width: 1120px) {
  #about-main {
    grid-template-columns: 1fr;
    grid-template-areas: "top" "bottom";
    padding: 50px 0px 100px 0px;
  }
}
#about-main.animate #about-image {
  transform: translateX(0%);
  opacity: 1;
}
#about-main.animate #about-content {
  transform: translateX(0%);
  opacity: 1;
}
#about-main.animate #about-content h1 {
  transform: translateX(0);
  transition-delay: 0.2s;
}
#about-main.animate #about-content p {
  transform: translateX(0);
  transition-delay: 0.3s;
}
#about-main.animate #about-content div {
  transform: translateX(0);
  transition-delay: 0.4s;
}
#about-main #about-image {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 20px 30px;
  height: calc(100% - 60px);
  width: calc(100% - 100px);
  opacity: 0;
  transform: translateX(-100%);
  transition: transform 0.5s, opacity 0.8s;
  transition-delay: 0.2s;
}
@media screen and (max-width: 1120px) {
  #about-main #about-image {
    width: calc(100% - 60px);
  }
}
#about-main #about-image #svg {
  position: relative;
  width: 100%;
  min-height: 500px;
}
@media screen and (max-width: 1120px) {
  #about-main #about-image #svg {
    display: none;
  }
}
#about-main #about-image #svg svg {
  position: absolute;
  top: 50%;
  left: 55%;
  transform: translate(-50%, -50%);
}
#about-main #about-image #svg svg #head {
  animation: bop 1.5s infinite linear alternate;
  transform-box: fill-box;
  transform-origin: bottom;
}
#about-main #about-image #svg svg #right-arm {
  animation: type 1s infinite linear alternate;
  transform-box: fill-box;
  transform-origin: top;
}
#about-main #about-image #svg svg #left-arm {
  animation: type 1s infinite ease-in alternate-reverse;
  transform-box: fill-box;
  transform-origin: top;
}
#about-main #about-image #button-resume {
  position: relative;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}
@media screen and (max-width: 650px) {
  #about-main #about-image #button-resume {
    width: 90%;
  }
}
#about-main #about-image #button-resume button {
  width: 100%;
  background-color: rgb(13, 211, 168);
  border-radius: 5px;
  height: 40px;
  line-height: 40px;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
  text-decoration: none;
  color: white;
  transition: all 0.3s;
  cursor: pointer;
}
#about-main #about-image #button-resume button:hover {
  background-color: white;
  color: rgb(13, 211, 168);
}
#about-main #about-image #button-resume #resume-list {
  visibility: hidden;
  opacity: 0;
  width: 100%;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
  transition: opacity 0.4s;
}
#about-main #about-image #button-resume #resume-list a {
  height: 40px;
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background-color: rgb(15, 15, 15);
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}
@media all and (hover: hover) {
  #about-main #about-image #button-resume #resume-list a:hover {
    background-color: rgb(59, 59, 59);
  }
}
@media screen and (max-width: 650px) {
  #about-main #about-image #button-resume #resume-list a {
    padding: 10px 40px;
  }
}
#about-main #about-content {
  width: calc(100% - 100px);
  height: calc(100% - 100px);
  padding: 50px;
  opacity: 0;
  transform: translateX(100%);
  transition: transform 0.5s, opacity 0.8s;
}
@media screen and (max-width: 1120px) {
  #about-main #about-content {
    grid-area: top;
  }
}
@media screen and (max-width: 700px) {
  #about-main #about-content {
    padding: 50px 30px;
    width: calc(100% - 60px);
  }
}
#about-main #about-content h1 {
  transform: translateX(130%);
  transition: transform 0.8s;
  font-size: 3em;
  font-family: LexendDeca-Bold;
  cursor: default;
}
@media screen and (max-width: 600px) {
  #about-main #about-content h1 {
    font-size: 2em;
  }
}
@media screen and (max-width: 400px) {
  #about-main #about-content h1 {
    font-size: 1.5em;
  }
}
#about-main #about-content h1 span {
  color: rgb(13, 211, 168);
}
#about-main #about-content p {
  font-size: 1.1em;
  transform: translateX(130%);
  transition: transform 0.8s;
  cursor: default;
}
@media screen and (max-width: 800px) {
  #about-main #about-content p {
    font-size: 0.9em;
  }
}
@media screen and (max-width: 600px) {
  #about-main #about-content p {
    font-size: 0.8em;
  }
}
#about-main #about-content div {
  margin-top: 70px;
  width: calc(100% - 60px);
  transform: translateX(130%);
  transition: transform 0.8s;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  padding: 30px;
}
@media screen and (max-width: 1500px) {
  #about-main #about-content div {
    margin-top: 40px;
  }
}
#about-main #about-content div span {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 1.3em;
}
@media screen and (max-width: 600px) {
  #about-main #about-content div span {
    flex-direction: column;
    align-items: flex-start;
    font-size: 1em;
    gap: 5px;
  }
}
#about-main #about-content div span progress {
  background-color: rgb(75, 72, 72);
  border-radius: 500px;
  width: 70%;
  border: none;
  height: 10px;
}
@media screen and (max-width: 600px) {
  #about-main #about-content div span progress {
    width: 100%;
    height: 5px;
  }
}
#about-main #about-content div span ::-webkit-progress-bar {
  -webkit-appearance: none;
  appearance: none;
  background-color: grey;
  border-radius: 500px;
}
#about-main #about-content div span progress[value]::-webkit-progress-value {
  -webkit-appearance: none;
  appearance: none;
  background: rgb(13, 211, 168);
  border-radius: 500px;
  width: 100%;
}
#about-main #about-content div span progress::-moz-progress-bar {
  background: rgb(13, 211, 168);
  border-radius: 500px;
}

main#contact-main {
  min-height: 100vh;
  position: relative;
  top: 0px;
  margin: 0;
  opacity: 0;
  transform: translateX(-100%);
  display: grid;
  place-content: center;
  grid-template-columns: 2fr 1fr;
  transition: opacity 0.8s;
  overflow: hidden;
}
@media screen and (max-width: 1120px) {
  main#contact-main {
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 830px) {
  main#contact-main {
    overflow-y: auto;
    padding-top: 0px;
    margin-top: -30px;
  }
}
main#contact-main.animate {
  opacity: 1;
  transform: translateX(0);
  transition: transform 0.5s;
}
main#contact-main.animate #contact-model {
  transform: translateX(0);
}
@media screen and (max-width: 830px) {
  main#contact-main {
    padding-bottom: 150px;
  }
}
main#contact-main section {
  height: 90%;
  position: relative;
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  z-index: 5;
}
main#contact-main #contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}
@media screen and (max-width: 1120px) {
  main#contact-main #contact-form {
    align-items: center;
  }
}
main#contact-main #contact-form form {
  width: 80%;
  height: 85%;
  background-color: rgb(19, 19, 19);
  transition: box-shadow 0.8s;
  border-radius: 25px;
  padding: 20px 0px 10px 0px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 10% 90%;
  grid-template-areas: "header header" "content1 content2";
}
@media screen and (max-width: 830px) {
  main#contact-main #contact-form form {
    grid-template-columns: 1fr;
    grid-template-rows: 10% 40% 50%;
    grid-template-areas: "header" "content1" "content2";
    background-color: transparent;
  }
}
@media screen and (max-width: 730px) {
  main#contact-main #contact-form form {
    width: 95%;
  }
}
main#contact-main #contact-form form h1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  grid-area: header;
  min-width: 100%;
  font-size: 2.5em;
  font-family: LexendDeca-Bold;
  margin-top: 35px;
}
main#contact-main #contact-form form h1 span {
  color: rgb(13, 211, 168);
}
@media screen and (max-width: 830px) {
  main#contact-main #contact-form form h1 {
    font-size: 2em;
  }
}
@media screen and (max-width: 500px) {
  main#contact-main #contact-form form h1 {
    font-size: 1.7em;
  }
}
main#contact-main #contact-form form div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: calc(100% - 60px);
  min-width: calc(100% - 60px);
  gap: 20px;
  padding: 30px;
}
main#contact-main #contact-form form div input, main#contact-main #contact-form form div textarea {
  width: 100%;
  min-height: 50px;
  border-radius: 10px;
  border: none;
  padding-left: 10px;
  font-size: 1.1em;
  color: rgb(255, 255, 255);
  outline: none;
  background-color: rgb(0, 0, 0);
}
main#contact-main #contact-form form div input:focus, main#contact-main #contact-form form div textarea:focus {
  border-color: white;
  transition: all 0.3s;
}
@media screen and (max-width: 830px) {
  main#contact-main #contact-form form div input, main#contact-main #contact-form form div textarea {
    background-color: rgb(15, 15, 15);
  }
  main#contact-main #contact-form form div input:focus, main#contact-main #contact-form form div textarea:focus {
    box-shadow: none;
  }
}
main#contact-main #contact-form form div textarea {
  resize: none;
  padding-top: 10px;
  min-height: calc(100% - 106px);
}
main#contact-main #contact-form form div button {
  width: 103%;
  margin-top: 20px;
  min-height: 50px;
  border-radius: 10px;
  border: none;
  background-color: rgb(13, 211, 168);
  font-size: 1.2em;
  color: white;
  transition: all 0.3s;
}
main#contact-main #contact-form form div button:hover {
  background-color: white;
  color: rgb(13, 211, 168);
}
main#contact-main #contact-form form div button:disabled {
  background-color: rgba(13, 211, 168, 0.4);
  color: rgb(158, 154, 154);
  cursor: default;
}
main#contact-main #contact-form form div button:disabled:hover {
  color: rgb(158, 154, 154);
}
main#contact-main #contact-form form div button:not(:disabled) {
  cursor: pointer;
}
main#contact-main #contact-form form div span {
  background-color: rgba(255, 255, 255, 0.04);
  color: rgb(168, 168, 168);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  min-width: calc(100% - 40px);
  padding: 20px;
  border-radius: 10px;
}
@media screen and (max-width: 1500px) {
  main#contact-main #contact-form form div span {
    font-size: 0.9em;
  }
}
@media screen and (max-width: 1300px) {
  main#contact-main #contact-form form div span {
    font-size: 0.75em;
  }
}
@media screen and (max-width: 1120px) {
  main#contact-main #contact-form form div span {
    font-size: 0.9em;
  }
}
@media screen and (max-width: 830px) {
  main#contact-main #contact-form form div span {
    font-size: 1em;
  }
}
@media screen and (max-width: 630px) {
  main#contact-main #contact-form form div span {
    font-size: 0.7em;
  }
}
main#contact-main #contact-form form div span a {
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: rgb(107, 105, 105);
}
@media screen and (max-width: 1370px) {
  main#contact-main #contact-form form div span a {
    width: 100%;
  }
}
@media screen and (max-width: 1120px) {
  main#contact-main #contact-form form div span a {
    width: 80%;
  }
}
@media screen and (max-width: 830px) {
  main#contact-main #contact-form form div span a {
    justify-content: center;
    gap: 50px;
  }
}
main#contact-main #contact-form form div span a .reverse {
  padding: 0;
  margin: 0;
  unicode-bidi: bidi-override;
  direction: rtl;
}
@media screen and (max-width: 850px) {
  main#contact-main #contact-form form div span a .reverse {
    font-size: 0.8em;
  }
}
main#contact-main #contact-form form #first {
  padding-bottom: 60px;
}
@media screen and (max-width: 830px) {
  main#contact-main #contact-form form #first button {
    display: none;
  }
}
@media screen and (max-width: 1120px) {
  main#contact-main #contact-form form #first button {
    margin-top: 30px;
  }
}
@media screen and (max-width: 830px) {
  main#contact-main #contact-form form #first span {
    display: none;
  }
}
@media screen and (min-width: 830px) {
  main#contact-main #contact-form form #second button {
    display: none;
    margin-top: 20px;
  }
}
main#contact-main #contact-form form #second span {
  border: none;
  background: transparent;
}
@media screen and (min-width: 830px) {
  main#contact-main #contact-form form #second span {
    display: none;
  }
}
main#contact-main #contact-form form #second span p {
  font-size: 1.4em;
}
main#contact-main #contact-form form #second span a {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  padding: 10px 0px;
  width: 90vw;
  font-size: 1em;
}
@media screen and (max-width: 830px) {
  main#contact-main #contact-form form #second input, main#contact-main #contact-form form #second div textarea, main#contact-main #contact-form form div #second textarea {
    margin-top: -60px;
  }
}
main#contact-main #contact-model {
  z-index: -1;
  transform: translateX(-100%);
  transition: transform 0.5s;
  transition-delay: 0.3s;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
}
@media screen and (max-width: 1120px) {
  main#contact-main #contact-model {
    display: none;
  }
}
main#contact-main #contact-model .stripe {
  height: 30px;
  border-radius: 0px 5px 5px 0px;
  background-color: rgba(166, 166, 235, 0.3);
}
main#contact-main #contact-model .stripe:nth-child(2n) {
  background-color: rgba(13, 211, 168, 0.3);
}
main#contact-main #contact-model .stripe:nth-child(1) {
  width: 303px;
}
main#contact-main #contact-model .stripe:nth-child(2) {
  width: 192px;
}
main#contact-main #contact-model .stripe:nth-child(3) {
  width: 337px;
}
main#contact-main #contact-model .stripe:nth-child(4) {
  width: 263px;
}
main#contact-main #contact-model .stripe:nth-child(5) {
  width: 339px;
}
main#contact-main #contact-model .stripe:nth-child(6) {
  width: 119px;
}
main#contact-main #contact-model .stripe:nth-child(7) {
  width: 167px;
}
main#contact-main #contact-model .stripe:nth-child(8) {
  width: 135px;
}
main#contact-main #contact-model .stripe:nth-child(9) {
  width: 299px;
}
main#contact-main #contact-model .stripe:nth-child(10) {
  width: 298px;
}
main#contact-main #contact-model .stripe:nth-child(11) {
  width: 215px;
}
main#contact-main #contact-model .stripe:nth-child(12) {
  width: 253px;
}
main#contact-main #contact-model .stripe:nth-child(13) {
  width: 260px;
}
main#contact-main #contact-model .stripe:nth-child(14) {
  width: 220px;
}
main#contact-main #contact-model .stripe:nth-child(15) {
  width: 148px;
}

#projects-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  opacity: 0;
  transition: opacity 0.8s;
}
@media screen and (min-width: 750px) {
  #projects-main {
    padding: 0px 20px;
  }
}
@media screen and (max-width: 1350px) {
  #projects-main {
    padding-top: 300px;
  }
}
@media screen and (max-width: 750px) {
  #projects-main {
    padding-top: 730px;
  }
}
#projects-main.animate {
  opacity: 1;
}
@media screen and (min-width: 750px) {
  #projects-main.animate section#projects-section .phone-container {
    opacity: 1;
  }
}
#projects-main h1 {
  font-family: LexendDeca-Bold;
  font-size: 3em;
  z-index: 2;
  margin-bottom: 50px;
}
@media screen and (max-width: 600px) {
  #projects-main h1 {
    font-size: 2em;
  }
}
@media screen and (max-width: 400px) {
  #projects-main h1 {
    font-size: 1.7em;
  }
}
#projects-main h1 span {
  color: rgb(13, 211, 168);
}
#projects-main section#projects-section {
  width: 100%;
  padding-bottom: 50px;
  display: grid;
  justify-items: center;
  align-items: center;
  gap: 10px;
  grid-template-columns: repeat(4, 1fr);
}
@media screen and (max-width: 1350px) {
  #projects-main section#projects-section {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 50px;
  }
}
@media screen and (max-width: 750px) {
  #projects-main section#projects-section {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    gap: 20px;
  }
}
#projects-main section#projects-section .phone-container {
  cursor: default;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
  overflow: hidden;
  position: relative;
  max-width: 350px;
  aspect-ratio: 1/1.3;
  border-radius: 20px;
  opacity: 0;
  transition: opacity 0.8s, transform 0.5s;
}
@media screen and (max-width: 750px) {
  #projects-main section#projects-section .phone-container {
    transform: translateX(-30%);
  }
}
@media screen and (max-width: 350px) {
  #projects-main section#projects-section .phone-container {
    border-radius: 0;
  }
}
#projects-main section#projects-section .phone-container:hover div {
  filter: brightness(10%);
}
#projects-main section#projects-section .phone-container:hover article {
  transform: translateX(0) scale(1);
  flex: 3;
  opacity: 1;
}
#projects-main section#projects-section .phone-container:focus div {
  filter: brightness(10%);
}
#projects-main section#projects-section .phone-container:focus article {
  transform: translateX(0) scale(1);
  flex: 3;
  opacity: 1;
}
#projects-main section#projects-section .phone-container div {
  width: 100%;
  height: 100%;
  position: absolute;
  background-position: center;
  background-size: 105%;
  z-index: -1;
  background-image: url("../assets/projects/Dropship.gif");
  filter: brightness(20%);
  transition: filter 0.5s;
}
#projects-main section#projects-section .phone-container.show {
  opacity: 1;
  transform: translate(0);
}
#projects-main section#projects-section .phone-container h2 {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0;
}
#projects-main section#projects-section .phone-container article {
  width: 100%;
  transform: translateX(-100%) scale(0);
  overflow: hidden;
  opacity: 0;
  transition: all 0.5s;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex: 0;
}
#projects-main section#projects-section .phone-container article ul {
  min-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 0;
  margin: 0;
  padding-top: 10px;
  color: rgb(206, 206, 206);
}
#projects-main section#projects-section .phone-container article ul li {
  font-size: 1.2em;
}
@media screen and (max-width: 450px) {
  #projects-main section#projects-section .phone-container article ul li {
    font-size: 1em;
  }
}
#projects-main section#projects-section .phone-container article ul li span {
  font-size: 0.8rem;
  color: white;
}
@media screen and (max-width: 350px) {
  #projects-main section#projects-section .phone-container article ul li span {
    font-size: 0.7rem;
  }
}
#projects-main section#projects-section .phone-container article p {
  color: rgb(190, 189, 189);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 0.7em;
  padding: 20px 20px;
}
@media screen and (max-width: 350px) {
  #projects-main section#projects-section .phone-container article p {
    font-size: 0.6em;
  }
}
#projects-main section#projects-section .phone-container article hr {
  width: 90%;
}
#projects-main section#projects-section .phone-container footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex: 1;
}
#projects-main section#projects-section .phone-container footer a {
  text-decoration: none;
  font-size: 1.3em;
  padding: 10px 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: none;
  background-color: rgb(15, 161, 130);
  filter: brightness(60%);
  color: rgb(255, 248, 248);
  border-radius: 10px;
  cursor: pointer;
  transition: filter 0.3s, transform 0.6s;
}
#projects-main section#projects-section .phone-container footer a:hover {
  filter: brightness(90%);
}

@keyframes slide {
  from {
    background-position: left;
  }
  to {
    background-position: right;
  }
}
@keyframes slidevertical {
  from {
    background-position: top;
  }
  to {
    background-position: bottom;
  }
}
@font-face {
  font-family: LexendDeca-Bold;
  src: url("./fonts/static/LexendDeca-Bold.ttf");
}
@font-face {
  font-family: LexendDeca-thin;
  src: url("./fonts/static/LexendDeca-Thin.ttf");
}
@font-face {
  font-family: LexendDeca;
  src: url("./fonts/static/LexendDeca-Regular.ttf");
}
:root {
  --mouse-x: 0;
  --mouse-y: 0;
  --dot-0: rgb(80, 80, 80);
  --dot-1: transparent;
  --dot-2: transparent;
  --dot-3: transparent;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: LexendDeca;
  min-width: 100%;
  min-height: 100vh;
  height: auto;
  width: auto;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  background-color: #0a0a0a;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 200 200'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='100' y1='33' x2='100' y2='-3'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='100' y1='135' x2='100' y2='97'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23090809' fill-opacity='0.6'%3E%3Crect x='100' width='100' height='100'/%3E%3Crect y='100' width='100' height='100'/%3E%3C/g%3E%3Cg fill-opacity='0.5'%3E%3Cpolygon fill='url(%23a)' points='100 30 0 0 200 0'/%3E%3Cpolygon fill='url(%23b)' points='100 100 0 130 0 100 200 100 200 130'/%3E%3C/g%3E%3C/svg%3E");
  animation: slide 20s linear infinite;
  color: white;
}
@media screen and (max-width: 650px) {
  body {
    animation: slide 20s linear infinite alternate;
  }
}
body .loader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  font-size: 2em;
}
@media screen and (max-width: 500px) {
  body .loader {
    transform: scale(0.8);
  }
}
body .loader progress[value] {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
}
body .loader progress,
body .loader progress[value]::-webkit-progress-bar {
  background-color: transparent;
  border: none;
  height: 10px;
}
body .loader progress[value]::-webkit-progress-value {
  -webkit-appearance: none;
  appearance: none;
  background: rgb(13, 211, 168);
  border-radius: 500px;
  width: 100%;
}
body .loader progress::-moz-progress-bar {
  background: rgb(13, 211, 168);
  border-radius: 500px;
  width: 100%;
}/*# sourceMappingURL=style.css.map */