nav#nav-home {
  min-width: calc(100vw - 120px);
  position: fixed;
  top: 0;
  left: 0;
  padding: 10px 60px;
  height: 60px;
  z-index: 50;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 700px) {
  nav#nav-home {
    background-color: rgb(0, 0, 0);
    padding: 6px 30px;
    min-width: calc(100vw - 60px);
  }
}
nav#nav-home div {
  font-size: 2em;
  color: rgb(13, 211, 168);
  font-family: LexendDeca-bold;
  cursor: default;
}
nav#nav-home ul {
  padding-left: 0px;
  list-style: none;
  width: 35%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
@media screen and (max-width: 1400px) {
  nav#nav-home ul {
    width: 50%;
  }
}
@media screen and (max-width: 1200px) {
  nav#nav-home ul {
    width: 70%;
  }
}
@media screen and (max-width: 700px) {
  nav#nav-home ul {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    top: 55px;
    right: 0;
    width: 100%;
    transition: all 0.3s;
    transform: translateX(100%);
  }
  nav#nav-home ul a {
    width: 100%;
  }
  nav#nav-home ul a li {
    width: 100%;
  }
  nav#nav-home ul.view {
    transform: translateX(0%);
  }
}
nav#nav-home ul a {
  color: white;
  text-decoration: none;
}
nav#nav-home ul a li {
  font-size: 1.4em;
  cursor: pointer;
  transition: all 0.2s;
  height: 120px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
nav#nav-home ul a li.active {
  color: rgb(13, 211, 168);
}
nav#nav-home ul a li.active::after {
  opacity: 1;
}
nav#nav-home ul a li:hover {
  color: rgb(13, 211, 168);
  text-shadow: 0 0 7px rgb(13, 211, 168), 0 0 10px rgb(13, 211, 168), 0 0 21px rgb(13, 211, 168);
  transform: translateY(20px);
}
nav#nav-home ul a li::after {
  content: "";
  position: absolute;
  bottom: 40px;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 500px;
  opacity: 0;
  background-color: rgb(13, 211, 168);
}
@media screen and (max-width: 700px) {
  nav#nav-home ul a li {
    height: 100%;
    color: rgb(214, 208, 208);
    width: calc(100% - 60px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding: 12px 0px;
    padding-right: 60px;
    background-color: rgb(0, 0, 0);
  }
  nav#nav-home ul a li:hover {
    background-color: rgb(5, 61, 49);
    animation: none;
    text-shadow: none;
    color: white;
    transition: none;
    transform: none;
  }
  nav#nav-home ul a li.active {
    background-color: rgba(5, 61, 49, 0.7);
  }
  nav#nav-home ul a li.active::after {
    visibility: hidden;
  }
}
nav#nav-home .hamburger-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  position: relative;
  cursor: pointer;
}
@media screen and (min-width: 700px) {
  nav#nav-home .hamburger-menu {
    display: none;
  }
}
nav#nav-home .hamburger-menu:hover .hamburger-icon {
  background-color: white;
}
nav#nav-home .hamburger-menu:hover .hamburger-icon::after {
  background-color: white;
}
nav#nav-home .hamburger-menu:hover .hamburger-icon::before {
  background-color: white;
}
nav#nav-home .hamburger-menu.shown .hamburger-icon {
  transform: rotate(45deg);
}
nav#nav-home .hamburger-menu.shown .hamburger-icon::before {
  transform: rotate(-90deg) translate(-9px, 0px);
}
nav#nav-home .hamburger-menu.shown .hamburger-icon::after {
  opacity: 0;
}
nav#nav-home .hamburger-menu .hamburger-icon {
  position: relative;
  width: 40px;
  height: 2px;
  background-color: rgb(168, 168, 168);
  transition: all 0.2s;
}
nav#nav-home .hamburger-menu .hamburger-icon::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: rgb(168, 168, 168);
  top: -10px;
  left: 0px;
  transition: all 0.2s;
}
nav#nav-home .hamburger-menu .hamburger-icon::after {
  content: "";
  position: absolute;
  width: 80%;
  height: 2px;
  background-color: rgb(168, 168, 168);
  top: 10px;
  left: 0px;
  transition: all 0.2s;
}

@keyframes sway {
  from {
    transform: rotateZ(-20deg) scale(1);
  }
  to {
    transform: rotateZ(20deg) scale(1.1);
  }
}
#main-home {
  padding-top: 0px;
  position: relative;
  top: 0px;
  display: grid;
  place-content: center;
  grid-template-columns: 1fr 1fr;
  overflow: hidden;
}
#main-home .home-background {
  height: 140%;
  width: 100%;
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
}
#main-home::after {
  content: "";
  background-color: rgb(0, 0, 0);
  width: 110%;
  height: 200px;
  position: absolute;
  left: 0;
  bottom: -20%;
  transform: rotate(-3deg);
}
@media screen and (max-width: 1120px) {
  #main-home::after {
    bottom: -10%;
  }
}
@media screen and (max-width: 1120px) {
  #main-home {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
}
#main-home article {
  width: 100%;
  height: 90%;
  position: relative;
  margin-top: 50px;
}
#main-home #text-home {
  transition: transform 0.5s, opacity 0.8s;
  font-family: LexendDeca-Bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  max-width: 100vw;
}
@media screen and (max-width: 1120px) {
  #main-home #text-home {
    margin-top: 100px;
  }
}
#main-home #text-home #text-box {
  width: 80%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  cursor: default;
}
@media screen and (max-width: 1320px) {
  #main-home #text-home #text-box {
    align-self: center;
  }
}
#main-home #text-home #text-box h1 {
  transition: all 0.8s;
  font-size: 3em;
  font-family: LexendDeca-Bold;
  position: relative;
}
@media screen and (max-width: 410px) {
  #main-home #text-home #text-box h1 {
    font-size: 2.2em;
  }
}
#main-home #text-home #text-box h2 {
  font-size: 1.8em;
  transition: all 0.8s;
}
#main-home #text-home #text-box h2 span {
  color: rgb(13, 211, 168);
}
@media screen and (max-width: 1520px) {
  #main-home #text-home #text-box h2 {
    font-size: 1.6em;
  }
}
@media screen and (max-width: 1230px) {
  #main-home #text-home #text-box h2 {
    font-size: 1.4em;
  }
}
@media screen and (max-width: 600px) {
  #main-home #text-home #text-box h2 {
    font-size: 1.2em;
  }
}
@media screen and (max-width: 450px) {
  #main-home #text-home #text-box h2 {
    font-size: 0.9em;
  }
}
#main-home #text-home #text-box p {
  position: relative;
  transition: all 0.8s;
}
@media screen and (max-width: 600px) {
  #main-home #text-home #text-box p {
    font-size: 0.8em;
  }
}
#main-home #text-home #text-box p a {
  text-decoration: none;
  color: rgba(13, 211, 168, 0.6);
}
#main-home #text-home #text-box p a:hover {
  color: rgb(13, 211, 168);
}
#main-home #text-home #text-box #social-links {
  margin-top: 50px;
  width: 100%;
}
@media screen and (max-width: 400px) {
  #main-home #text-home #text-box #social-links {
    transform: scale(0.9) translateX(-20px);
  }
}
#main-home #text-home #text-box #social-links ul {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#main-home #text-home #text-box #social-links ul li {
  font-size: 1.6em;
  width: 60px;
  border: solid grey 2px;
  aspect-ratio: 1/1;
  display: grid;
  place-content: center;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  transition: border-color 0.5s, box-shadow 0.5s;
}
@media screen and (max-width: 650px) {
  #main-home #text-home #text-box #social-links ul li {
    transform: scale(0.8);
  }
}
#main-home #text-home #text-box #social-links ul li a {
  text-decoration: none;
  display: grid;
  place-content: center;
  width: 60px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  color: white;
  transition: color 0.5s;
}
#main-home #text-home #text-box #social-links ul li:hover {
  border-color: rgb(13, 211, 168);
  box-shadow: 0px 0px 10px rgb(13, 211, 168);
}
#main-home #text-home #text-box #social-links ul li:hover a {
  color: rgb(13, 211, 168);
}
#main-home #images-home {
  overflow: hidden;
  transition: transform 0.8s, opacity 0.8s;
}
#main-home #images-home canvas {
  cursor: grab;
}
@media screen and (max-width: 1120px) {
  #main-home #images-home canvas {
    margin-top: -50px;
  }
}
@media screen and (max-width: 650px) {
  #main-home #images-home canvas {
    transform: scale(0.8);
    margin-top: -100px;
  }
}
#main-home #images-home h2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  position: absolute;
  bottom: 13%;
  left: 50%;
  transform: translateX(-50%);
  color: rgb(139, 139, 139);
  cursor: default;
}
#main-home #images-home h2 i {
  animation: sway 1.2s infinite ease-in alternate;
}
@media screen and (max-width: 1120px) {
  #main-home #images-home h2 {
    bottom: 15%;
  }
}
@media screen and (max-width: 520px) {
  #main-home #images-home h2 {
    bottom: 20%;
    font-size: 1.1em;
  }
}

#skills-main {
  padding-top: 150px;
  padding-bottom: 250px;
  overflow: hidden;
  cursor: default;
  position: relative;
  left: 0;
  top: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  gap: 20px;
}
#skills-main .skills-background {
  height: 140%;
  width: 100%;
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  left: 0;
  top: 0;
}
#skills-main::before {
  content: "";
  background-color: rgb(0, 0, 0);
  width: 110%;
  height: 200px;
  position: absolute;
  left: 0;
  top: -11%;
  transform: rotate(3deg);
  z-index: 4;
}
#skills-main::after {
  content: "";
  background-color: rgb(0, 0, 0);
  width: 110%;
  height: 200px;
  position: absolute;
  left: 0;
  bottom: -5%;
  transform: rotate(-3deg);
}
#skills-main h1 {
  font-family: LexendDeca-Bold;
  font-size: 3em;
  z-index: 2;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#skills-main h1 .h-line {
  margin: 0px 40px;
  height: 3px;
  background-color: rgb(13, 211, 168);
  border-radius: 500px;
  flex: 1;
}
@media screen and (max-width: 600px) {
  #skills-main h1 .h-line {
    display: none;
  }
}
#skills-main h1 .h-line:first-child {
  transform-origin: left;
  transform: scaleX(0);
}
#skills-main h1 .h-line:last-child {
  transform-origin: right;
  transform: scaleX(0);
}
@media screen and (max-width: 665px) {
  #skills-main h1 {
    font-size: 2em;
  }
}
@media screen and (max-width: 400px) {
  #skills-main h1 {
    font-size: 1.7em;
  }
}
#skills-main h1 span {
  color: rgb(13, 211, 168);
  margin: 0px 15px;
}
#skills-main section#skills-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  transition: transform 0.5s, opacity 0.8s;
  z-index: 0;
}
#skills-main section#skills-container:not(:hover) *.skill-card::after,
#skills-main section#skills-container .skill-card::before {
  opacity: 0;
}
#skills-main section#skills-container .skill-card {
  position: relative;
  flex-shrink: 0;
  width: 200px;
  aspect-ratio: 1/1;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 20px;
  padding: 5px;
}
@media all and (hover: none) {
  #skills-main section#skills-container .skill-card {
    background-color: rgba(39, 39, 39, 0.15);
  }
}
#skills-main section#skills-container .skill-card:hover {
  transform: scale(1.05);
}
#skills-main section#skills-container .skill-card:hover .skill-card-content img {
  filter: grayscale(0%);
}
@media screen and (max-width: 700px) {
  #skills-main section#skills-container .skill-card {
    width: 180px;
    padding: 2px;
  }
}
@media screen and (max-width: 450px) {
  #skills-main section#skills-container .skill-card {
    width: 130px;
  }
}
#skills-main section#skills-container .skill-card .skill-card-content {
  border-radius: 15px;
  width: 100%;
  height: 100%;
  inset: 5px;
  background-color: rgb(0, 0, 0);
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-size: 1.2em;
}
@media screen and (max-width: 450px) {
  #skills-main section#skills-container .skill-card .skill-card-content {
    font-size: 0.9em;
  }
}
#skills-main section#skills-container .skill-card .skill-card-content img {
  transform-style: preserve-3d;
  transition: filter 0.8s;
  filter: grayscale(30%);
}
@media all and (hover: none) {
  #skills-main section#skills-container .skill-card .skill-card-content img {
    filter: grayscale(0%);
  }
}
#skills-main section#skills-container .skill-card::before {
  background: radial-gradient(500px circle at var(--mouse-x) var(--mouse-y), rgba(255, 255, 255, 0.1), transparent 40%);
  border-radius: 15px;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 3;
  opacity: 0;
  transition: opacity 500ms;
}
#skills-main section#skills-container .skill-card::after {
  background: radial-gradient(500px circle at var(--mouse-x) var(--mouse-y), rgba(255, 255, 255, 0.4), transparent 40%);
  border-radius: 15px;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  transition: opacity 500ms;
}
#skills-main section#skills-container .skill-card:hover::before {
  opacity: 1;
}
#skills-main section#skills-container .skill-card:hover::after {
  opacity: 1;
}
@keyframes bop {
  0% {
    transform: rotateZ(-5deg);
  }
  100% {
    transform: rotateZ(10deg);
  }
}
@keyframes type {
  0% {
    transform: rotateZ(-5deg);
  }
  100% {
    transform: rotateZ(5deg);
  }
}
#about-main {
  position: relative;
  top: 0px;
  padding-top: 150px;
  padding-bottom: 150px;
  display: grid;
  grid-template-columns: 2fr 3fr;
  gap: 40px;
  place-content: center;
  overflow: hidden;
}
@media screen and (max-width: 1200px) {
  #about-main {
    padding-top: 0px;
    padding-bottom: 0px;
  }
}
@media screen and (max-width: 1200px) {
  #about-main {
    grid-template-columns: 1fr;
    grid-template-areas: "top" "bottom";
  }
}
#about-main #about-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 30px;
}
@media screen and (max-width: 1120px) {
  #about-main #about-image {
    width: calc(100% - 60px);
  }
}
#about-main #about-image #svg {
  position: relative;
  width: 90%;
  aspect-ratio: 1/1;
  background-color: rgb(0, 0, 0);
  border-radius: 10px;
}
@media screen and (max-width: 1200px) {
  #about-main #about-image #svg {
    display: none;
  }
}
#about-main #about-image #svg .frame-about {
  z-index: -1;
  width: 100%;
  left: -5%;
  bottom: -5%;
  aspect-ratio: 1/1;
  position: absolute;
}
@media screen and (max-width: 600px) {
  #about-main #about-image #svg .frame-about {
    opacity: 0;
  }
}
#about-main #about-image #svg .frame-about .frame-about-top {
  transform: scaleX(0);
  transform-origin: right;
  width: 100%;
  height: 2px;
  background-color: rgb(13, 211, 168);
  position: absolute;
  top: 0;
  left: 0;
}
#about-main #about-image #svg .frame-about .frame-about-bottom {
  transform: scaleX(0);
  transform-origin: left;
  width: 100%;
  height: 2px;
  background-color: rgb(13, 211, 168);
  position: absolute;
  bottom: 0;
  left: 0;
}
#about-main #about-image #svg .frame-about .frame-about-left {
  transform: scaleY(0);
  transform-origin: top;
  height: 100%;
  width: 2px;
  background-color: rgb(13, 211, 168);
  position: absolute;
  top: 0;
  left: 0;
}
#about-main #about-image #svg .frame-about .frame-about-right {
  transform: scaleY(0);
  transform-origin: bottom;
  height: 100%;
  width: 2px;
  background-color: rgb(13, 211, 168);
  position: absolute;
  top: 0;
  right: 0;
}
#about-main #about-image #svg svg {
  width: 80%;
  height: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#about-main #about-image #svg svg #head {
  animation: bop 1.5s infinite linear alternate;
  transform-box: fill-box;
  transform-origin: bottom;
}
#about-main #about-image #svg svg #right-arm {
  animation: type 1s infinite linear alternate;
  transform-box: fill-box;
  transform-origin: top;
}
#about-main #about-image #svg svg #left-arm {
  animation: type 1s infinite ease-in alternate-reverse;
  transform-box: fill-box;
  transform-origin: top;
}
#about-main #about-content {
  width: calc(100% - 100px);
  height: calc(100% - 0px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  gap: 20px;
  padding: 0px 50px;
  transition: transform 0.5s, opacity 0.8s;
}
@media screen and (max-width: 1200px) {
  #about-main #about-content {
    grid-area: top;
  }
}
@media screen and (max-width: 700px) {
  #about-main #about-content {
    padding: 0px 30px;
    width: calc(100% - 60px);
  }
}
#about-main #about-content h1 {
  font-size: 3em;
  margin: 0;
  font-family: LexendDeca-Bold;
  cursor: default;
}
@media screen and (max-width: 600px) {
  #about-main #about-content h1 {
    font-size: 2em;
  }
}
@media screen and (max-width: 400px) {
  #about-main #about-content h1 {
    font-size: 1.5em;
  }
}
#about-main #about-content h1 span {
  color: rgb(13, 211, 168);
}
#about-main #about-content p {
  font-size: 1em;
  position: relative;
  margin: 0;
  transition: transform 0.8s;
  cursor: default;
  border-radius: 10px;
  padding: 20px;
  padding-left: 0px;
  background-color: rgb(0, 0, 0);
}
@media screen and (max-width: 1400px) {
  #about-main #about-content p {
    font-size: 0.8em;
  }
}
@media screen and (max-width: 600px) {
  #about-main #about-content p {
    font-size: 0.7em;
  }
}
#about-main #about-content p::after {
  content: "";
  z-index: -1;
  width: 100%;
  left: 2%;
  bottom: -12%;
  height: 100%;
  border: solid white 2px;
  position: absolute;
}
@media screen and (max-width: 600px) {
  #about-main #about-content p::after {
    opacity: 0;
    padding: 0px;
  }
}
#about-main #about-content article {
  margin-top: 50px;
  height: 170px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
#about-main #about-content article div:first-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 25px;
}
#about-main #about-content article div:first-child.show span {
  opacity: 1;
}
#about-main #about-content article div:first-child.show span:first-child {
  transform: rotate(10deg) translate(0);
}
#about-main #about-content article div:first-child.show span:last-child {
  transition-delay: 0.2s;
  transform: rotate(-10deg) translate(0);
}
#about-main #about-content article div:first-child.show span:nth-child(2) {
  transition-delay: 0.1s;
  transform: none;
}
#about-main #about-content article div:first-child span {
  font-size: 1.1em;
  transition: all 0.3s;
  opacity: 0;
}
@media screen and (max-width: 900px) {
  #about-main #about-content article div:first-child span {
    font-size: 0.9em;
  }
}
@media screen and (max-width: 700px) {
  #about-main #about-content article div:first-child span {
    font-size: 0.6em;
  }
}
#about-main #about-content article div:first-child span:first-child {
  transform: rotate(10deg) translate(120%, 5px);
}
#about-main #about-content article div:first-child span:last-child {
  transform: rotate(-10deg) translate(120%, 5px);
}
#about-main #about-content article div:first-child span:nth-child(2) {
  transform: translateX(120%);
}
#about-main #about-content article div:last-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 25px;
}
#about-main #about-content article div:last-child.show span {
  opacity: 1;
}
#about-main #about-content article div:last-child.show span:first-child {
  transition-delay: 0.5s;
  transform: rotate(-10deg) translate(0);
}
#about-main #about-content article div:last-child.show span:last-child {
  transition-delay: 0.3s;
  transform: rotate(10deg) translate(0);
}
#about-main #about-content article div:last-child.show span:nth-child(2) {
  transition-delay: 0.4s;
  transform: none;
}
#about-main #about-content article div:last-child span {
  font-size: 1.1em;
  transition: all 0.3s;
  opacity: 0;
}
@media screen and (max-width: 900px) {
  #about-main #about-content article div:last-child span {
    font-size: 0.9em;
  }
}
@media screen and (max-width: 700px) {
  #about-main #about-content article div:last-child span {
    font-size: 0.6em;
  }
}
#about-main #about-content article div:last-child span:first-child {
  transform: rotate(-10deg) translate(-120%, 5px);
}
#about-main #about-content article div:last-child span:last-child {
  transform: rotate(10deg) translate(-120%, 5px);
}
#about-main #about-content article div:last-child span:nth-child(2) {
  transform: translateX(-120%);
}
#about-main #about-content article a {
  cursor: pointer;
  height: 70%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: black;
  z-index: 10;
  border: solid rgb(13, 211, 168) 12px;
  box-shadow: 0px 0px 22px 5px rgba(13, 211, 168, 0.4);
  display: grid;
  place-content: center;
  font-size: 2em;
  color: rgb(13, 211, 168);
  text-decoration: none;
}
@media screen and (max-width: 700px) {
  #about-main #about-content article a {
    height: 50%;
    border-width: 8px;
    font-size: 1.2em;
  }
}

main#contact-main {
  padding: 0;
  position: relative;
  top: 0px;
  margin: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: stretch;
}
main#contact-main footer {
  min-height: 60vh;
  padding: 50px;
  gap: 50px;
  background-color: rgb(14, 13, 13);
  position: relative;
  margin-top: 70px;
  z-index: 5;
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
}
@media screen and (max-width: 700px) {
  main#contact-main footer {
    padding: 20px;
    gap: 10px;
  }
}
@media screen and (max-width: 1120px) {
  main#contact-main footer {
    align-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
}
main#contact-main form {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
  grid-template-rows: 1.8fr 1.8fr 1.8fr 6fr 1.8fr;
  grid-template-areas: "h1 h1" "name surname" "mail subject" "message message" "button button";
  gap: 15px;
  padding: 10px;
  border-radius: 15px;
  min-height: 380px;
}
@media screen and (max-width: 700px) {
  main#contact-main form {
    grid-template-columns: minmax(0, 1fr);
    grid-template-rows: 2fr 2fr 2fr 2fr 2fr 6fr 2fr;
    grid-template-areas: "h1" "name" "surname" "mail" "subject" "message" "button";
  }
}
main#contact-main form h1 {
  grid-area: h1;
  margin: 0;
  font-size: 1.6em;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
@media screen and (max-width: 700px) {
  main#contact-main form h1 {
    justify-content: center;
    font-size: 1.4em;
  }
}
main#contact-main form h1 span {
  color: #0dd3a8;
}
main#contact-main form input, main#contact-main form textarea {
  border-radius: 5px;
  border: none;
  outline: none;
  padding: 5px 10px;
  caret-color: #0dd3a8;
  color: #0dd3a8;
  background-color: rgba(255, 255, 255, 0.1);
  font-weight: 500;
  font-size: 1.1em;
  min-height: 40px;
}
main#contact-main form input::-moz-placeholder, main#contact-main form textarea::-moz-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(201, 201, 201);
  font-weight: 300;
  opacity: 1; /* Firefox */
}
main#contact-main form input::placeholder, main#contact-main form textarea::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(201, 201, 201);
  font-weight: 300;
  opacity: 1; /* Firefox */
}
main#contact-main form input:-ms-input-placeholder, main#contact-main form textarea:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: rgb(201, 201, 201);
  font-weight: 300;
}
main#contact-main form input::-ms-input-placeholder, main#contact-main form textarea::-ms-input-placeholder {
  /* Microsoft Edge */
  color: rgb(201, 201, 201);
  font-weight: 300;
}
main#contact-main form textarea {
  font-size: 1.4em;
  grid-area: message;
  resize: none;
  color: white;
}
main#contact-main form button {
  grid-area: button;
  border-radius: 5px;
  border: none;
  background-color: rgb(13, 211, 168);
  font-size: 1.2em;
  color: white;
  transition: all 0.3s;
  cursor: pointer;
  display: grid;
  place-content: center;
  min-height: 30px;
}
main#contact-main form button:hover {
  background-color: white;
  color: rgb(13, 211, 168);
}
main#contact-main form button:disabled {
  background-color: rgba(13, 211, 168, 0.4);
  color: rgb(158, 154, 154);
  cursor: default;
}
main#contact-main form button:disabled:hover {
  color: rgb(158, 154, 154);
}
main#contact-main section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  padding: 10px;
}
main#contact-main section h1 {
  font-size: 1.6em;
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
@media screen and (max-width: 700px) {
  main#contact-main section h1 {
    justify-content: center;
    font-size: 1.4em;
  }
}
main#contact-main section ul {
  flex: 2;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  list-style: none;
  padding: 0;
}
@media screen and (max-width: 700px) {
  main#contact-main section ul {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
  }
}
main#contact-main section ul div {
  position: relative;
}
main#contact-main section ul div li:last-child {
  color: rgb(150, 147, 147);
  font-size: 0.9em;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 200px;
}
main#contact-main section .map {
  flex: 6;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}
main#contact-main section .map iframe {
  width: 100%;
  height: 100%;
  filter: invert(90%);
}

#projects-loader {
  top: 0;
  position: fixed;
  z-index: 3;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#projects-loader.fadeOut {
  display: none;
}
#projects-loader .lds-dual-ring {
  transform: scale(1.5);
  display: inline-block;
  width: 80px;
  height: 80px;
}
#projects-loader .lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid rgb(13, 211, 168);
  border-color: rgb(13, 211, 168) transparent rgb(13, 211, 168) transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#projects-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  transition: opacity 0.8s;
}
#projects-main h1 {
  font-family: LexendDeca-Bold;
  font-size: 3em;
  z-index: 2;
  margin-bottom: 50px;
}
@media screen and (max-width: 600px) {
  #projects-main h1 {
    font-size: 2em;
  }
}
@media screen and (max-width: 400px) {
  #projects-main h1 {
    font-size: 1.7em;
  }
}
#projects-main h1 span {
  color: rgb(13, 211, 168);
}
#projects-main section#projects-section {
  width: 90%;
  position: relative;
  background-color: black;
  padding-bottom: 50px;
  display: grid;
  justify-items: center;
  align-items: center;
  gap: 25px;
  grid-template-columns: repeat(4, 1fr);
}
#projects-main section#projects-section::after {
  content: "";
  width: 60%;
  height: 100%;
  position: absolute;
  left: -5%;
  top: 5%;
  z-index: -1;
  border: solid rgb(13, 211, 168) 2px;
}
@media screen and (max-width: 1450px) {
  #projects-main section#projects-section::after {
    opacity: 0;
  }
}
@media screen and (max-width: 600px) {
  #projects-main section#projects-section::after {
    opacity: 0;
  }
}
@media screen and (max-width: 850px) {
  #projects-main section#projects-section {
    width: 85%;
  }
}
@media screen and (max-width: 1450px) {
  #projects-main section#projects-section {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-row-gap: 50px;
  }
}
@media screen and (max-width: 850px) {
  #projects-main section#projects-section {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    gap: 20px;
  }
}
#projects-main section#projects-section .phone-container {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
  overflow: hidden;
  position: relative;
  max-width: 350px;
  aspect-ratio: 1/1.3;
  border-radius: 20px;
}
@media screen and (max-width: 850px) {
  #projects-main section#projects-section .phone-container {
    transform: translateX(-50%);
    opacity: 0;
  }
  #projects-main section#projects-section .phone-container.show {
    transform: translateX(0);
    opacity: 1;
  }
}
@media screen and (max-width: 350px) {
  #projects-main section#projects-section .phone-container {
    border-radius: 0;
  }
}
#projects-main section#projects-section .phone-container:hover div {
  filter: brightness(10%);
}
#projects-main section#projects-section .phone-container:hover article {
  transform: translateX(0) scale(1);
  flex: 3;
  opacity: 1;
}
#projects-main section#projects-section .phone-container:focus div {
  filter: brightness(10%);
}
#projects-main section#projects-section .phone-container:focus article {
  transform: translateX(0) scale(1);
  flex: 3;
  opacity: 1;
}
#projects-main section#projects-section .phone-container div {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
  filter: brightness(20%);
  transition: filter 0.5s;
}
#projects-main section#projects-section .phone-container div img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#projects-main section#projects-section .phone-container h2 {
  width: 100%;
  z-index: 2;
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0;
}
#projects-main section#projects-section .phone-container article {
  width: 100%;
  transform: translateX(-100%) scale(0);
  overflow: hidden;
  opacity: 0;
  transition: all 0.5s;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex: 0;
}
#projects-main section#projects-section .phone-container article ul {
  min-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 0;
  margin: 0;
  padding-top: 10px;
  color: rgb(206, 206, 206);
}
#projects-main section#projects-section .phone-container article ul li {
  font-size: 1em;
}
@media screen and (max-width: 450px) {
  #projects-main section#projects-section .phone-container article ul li {
    font-size: 0.9em;
  }
}
#projects-main section#projects-section .phone-container article ul li span {
  font-size: 0.8rem;
  color: white;
}
@media screen and (max-width: 350px) {
  #projects-main section#projects-section .phone-container article ul li span {
    font-size: 0.7rem;
  }
}
#projects-main section#projects-section .phone-container article p {
  color: rgb(190, 189, 189);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 0.6em;
  padding: 20px 20px;
}
@media screen and (max-width: 350px) {
  #projects-main section#projects-section .phone-container article p {
    font-size: 0.5em;
  }
}
#projects-main section#projects-section .phone-container article hr {
  width: 90%;
}
#projects-main section#projects-section .phone-container footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex: 1;
}
#projects-main section#projects-section .phone-container footer a {
  text-decoration: none;
  font-size: 1.3em;
  padding: 10px 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: none;
  background-color: rgb(15, 161, 130);
  filter: brightness(60%);
  color: rgb(255, 248, 248);
  border-radius: 10px;
  cursor: pointer;
  transition: filter 0.3s, transform 0.6s;
}
#projects-main section#projects-section .phone-container footer a:hover {
  filter: brightness(90%);
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
     ========================================================================== */
/**
   * Remove the margin in all browsers.
   */
body {
  margin: 0;
}

/**
   * Render the `main` element consistently in IE.
   */
main {
  display: block;
}

/**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
     ========================================================================== */
/**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
     ========================================================================== */
/**
   * Remove the gray background on active links in IE 10.
   */
a {
  background-color: transparent;
}

/**
   * 1. Remove the bottom border in Chrome 57-
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */
b,
strong {
  font-weight: bolder;
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
   * Add the correct font size in all browsers.
   */
small {
  font-size: 80%;
}

/**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
     ========================================================================== */
/**
   * Remove the border on images inside links in IE 10.
   */
img {
  border-style: none;
}

/* Forms
     ========================================================================== */
/**
   * 1. Change the font styles in all browsers.
   * 2. Remove the margin in Firefox and Safari.
   */
button,
input,
main#contact-main form textarea,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */
button,
input,
main#contact-main form textarea {
  /* 1 */
  overflow: visible;
}

/**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
   * Correct the inability to style clickable types in iOS and Safari.
   */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
   * Remove the inner border and padding in Firefox.
   */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
   * Restore the focus styles unset by the previous rule.
   */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
   * Correct the padding in Firefox.
   */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
   * Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */
progress {
  vertical-align: baseline;
}

/**
   * Remove the default vertical scrollbar in IE 10+.
   */
textarea {
  overflow: auto;
}

/**
   * 1. Add the correct box sizing in IE 10.
   * 2. Remove the padding in IE 10.
   */
[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
   * Remove the inner padding in Chrome and Safari on macOS.
   */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
     ========================================================================== */
/*
   * Add the correct display in Edge, IE 10+, and Firefox.
   */
details {
  display: block;
}

/*
   * Add the correct display in all browsers.
   */
summary {
  display: list-item;
}

/* Misc
     ========================================================================== */
/**
   * Add the correct display in IE 10+.
   */
template {
  display: none;
}

/**
   * Add the correct display in IE 10.
   */
[hidden] {
  display: none;
}

@keyframes slide {
  from {
    background-position: left;
  }
  to {
    background-position: right;
  }
}
@keyframes slidevertical {
  from {
    background-position: top;
  }
  to {
    background-position: bottom;
  }
}
@font-face {
  font-family: LexendDeca-Bold;
  src: url("./fonts/static/LexendDeca-Bold.ttf");
}
@font-face {
  font-family: LexendDeca-thin;
  src: url("./fonts/static/LexendDeca-Thin.ttf");
}
@font-face {
  font-family: LexendDeca;
  src: url("./fonts/static/LexendDeca-Regular.ttf");
}
:root {
  --mouse-x: 0;
  --mouse-y: 0;
  --dot-0: rgb(80, 80, 80);
  --dot-1: transparent;
  --dot-2: transparent;
  --dot-3: transparent;
}

html {
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: rgb(151, 150, 150) transparent;
}
html::-webkit-scrollbar {
  width: 7px;
}
html::-webkit-scrollbar-track-piece {
  background-color: transparent;
}
html::-webkit-scrollbar-thumb {
  border-radius: 10px;
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  font-family: LexendDeca;
  min-width: 100%;
  min-height: 100vh;
  height: auto;
  width: auto;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  background-color: #000000;
  animation: slide 20s linear infinite;
  color: white;
}
@media screen and (max-width: 650px) {
  body {
    animation: slide 10s linear infinite alternate;
  }
}
body main {
  padding: 50px;
}
@media screen and (max-width: 900px) {
  body main {
    padding: 0px;
  }
}
body .loader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: black;
  top: 0;
  left: 0;
  font-size: 2em;
  z-index: 100;
}
body .loader progress[value] {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
}
body .loader progress,
body .loader progress[value]::-webkit-progress-bar {
  background-color: transparent;
  border: none;
  height: 10px;
}
body .loader progress[value]::-webkit-progress-value {
  -webkit-appearance: none;
  appearance: none;
  background: rgb(13, 211, 168);
  border-radius: 500px;
  width: 100%;
}
body .loader progress::-moz-progress-bar {
  background: rgb(13, 211, 168);
  border-radius: 500px;
  width: 100%;
}/*# sourceMappingURL=style.css.map */