@import "./nav-home";
@import "./home";
@import "./skills";
@import "./about";
@import "./contact";
@import "./projects";
@import "./resets";

@mixin flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@keyframes slide {
  from {
    background-position: left;
  }
  to {
    background-position: right;
  }
}
@keyframes slidevertical {
  from {
    background-position: top;
  }
  to {
    background-position: bottom;
  }
}

@font-face {
  font-family: LexendDeca-Bold;
  src: url("./fonts/static/LexendDeca-Bold.ttf");
}
@font-face {
  font-family: LexendDeca-thin;
  src: url("./fonts/static/LexendDeca-Thin.ttf");
}
@font-face {
  font-family: LexendDeca;
  src: url("./fonts/static/LexendDeca-Regular.ttf");
}

:root {
  --mouse-x: 0;
  --mouse-y: 0;

  --dot-0: rgb(80, 80, 80);
  --dot-1: transparent;
  --dot-2: transparent;
  --dot-3: transparent;
}
html {
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: rgb(151, 150, 150) transparent;

  &::-webkit-scrollbar {
    width: 7px;
  }

  &::-webkit-scrollbar-track-piece {
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
  }
}

body {
  position: relative;
  @include flex(column, center, stretch);
  font-family: LexendDeca;
  min-width: 100%;
  min-height: 100vh;
  height: auto;
  width: auto;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  background-color: #000000;
  // background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 200 200'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='100' y1='33' x2='100' y2='-3'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='100' y1='135' x2='100' y2='97'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23090809' fill-opacity='0.6'%3E%3Crect x='100' width='100' height='100'/%3E%3Crect y='100' width='100' height='100'/%3E%3C/g%3E%3Cg fill-opacity='0.5'%3E%3Cpolygon fill='url(%23a)' points='100 30 0 0 200 0'/%3E%3Cpolygon fill='url(%23b)' points='100 100 0 130 0 100 200 100 200 130'/%3E%3C/g%3E%3C/svg%3E");
  animation: slide 20s linear infinite;
  color: white;

  @media screen and (max-width: 650px) {
    animation: slide 10s linear infinite alternate;
  }

  main {
    padding: 50px;

    @media screen and (max-width: 900px) {
      padding: 0px;
    }
  }

  .loader {
    @include flex(column, center, center);
    gap: 10px;
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: black;
    top: 0;
    left: 0;
    font-size: 2em;
    z-index: 100;
    progress[value] {
      -webkit-appearance: none;
      appearance: none;
    }
    progress,
    progress[value]::-webkit-progress-bar {
      background-color: transparent;
      border: none;
      height: 10px;
    }

    progress[value]::-webkit-progress-value {
      -webkit-appearance: none;
      appearance: none;
      background: rgb(13, 211, 168);
      border-radius: 500px;
      width: 100%;
    }
    progress::-moz-progress-bar {
      background: rgb(13, 211, 168);
      border-radius: 500px;
      width: 100%;
    }
  }
}
